.rules :global {
  width: 1920px;
  height: 1080px;
  position: relative;
  background-image: url("/wwbbm-rules-background.png");

  button {
    width: 250px;
    font-size: 2rem;
    padding: 10px 20px;
    background-color: #4caba5;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 150px;
    right: 50%;
    transform: translateX(50%);
  }
}
