.init :global {
  display: flex;
  flex-direction: column;
  width: 1920px;
  height: 1080px;
  background-color: #13106d;
  color: white;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-family: "Copperplate Gothic Std 29 BC";

  h1 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2rem;

    &.error {
      color: red;
    }
  }

  table {
    border: 1px solid white;
    font-size: 1.5rem;

    td, th {
      background-color: #13524d;
      padding: 10px 20px;
      text-align: right;
    }

    th {
      background-color: #042f2e;
    }
  } 

  button {
    margin-top: 100px;
    font-family: "Copperplate Gothic Std 29 BC";
    font-size: 2rem;
    padding: 5px 20px;
    background-color: #4caba5;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
}
